@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*


/* footer */
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
}
body{
  min-height: 100vh;
  width: 100%;
  /* background: #185aeb; */
  margin: 0;
  font-family: "Lucida Grande";
  background-color: #30ced0;
}

footer{
  /* position: fixed; */
  background: #14b3ab;
  width: 100%;
  bottom: 0;
  left: 0;
}
footer::before{
  content: '';
  position: absolute;
  left: 0;
  top: 100px;
  height: 1px;
  width: 100%;
  background: #AFAFB6;
}
footer .content{
  max-width: 1250px;
  margin: auto;
  padding: 30px 40px 40px 40px;
}
footer .content .top{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}
.content .top .logo-details{
  color: #fff;
  font-size: 25px;
  
}

.logo{
  width: auto;
}

.content .top .media-icons{
  display: flex;
}
.content .top .media-icons a{
  height: 40px;
  width: 40px;
  margin: 0 8px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  color: #fff;
  font-size: 17px;
  text-decoration: none;
  transition: all 0.4s ease;
}
.top .media-icons a:nth-child(1){
  background: #4267B2;
}
.top .media-icons a:nth-child(1):hover{
  color: #4267B2;
  background: #fff;
}
.top .media-icons a:nth-child(2){
  background: #1DA1F2;
}
.top .media-icons a:nth-child(2):hover{
  color: #1DA1F2;
  background: #fff;
}
.top .media-icons a:nth-child(3){
  background: #E1306C;
}
.top .media-icons a:nth-child(3):hover{
  color: #E1306C;
  background: #fff;
}
.top .media-icons a:nth-child(4){
  background: #0077B5;
}
.top .media-icons a:nth-child(4):hover{
  color: #0077B5;
  background: #fff;
}
.top .media-icons a:nth-child(5){
  background: #FF0000;
}
.top .media-icons a:nth-child(5):hover{
  color: #FF0000;
  background: #fff;
}
footer .content .link-boxes{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
footer .content .link-boxes .box{
  width: calc(100% / 5 - 10px);
}
.content .link-boxes .box .link_name{
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 10px;
  position: relative;
}
.link-boxes .box .link_name::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 2px;
  width: 35px;
  background: #fff;
}
.content .link-boxes .box li{
  margin: 6px 0;
  list-style: none;
}
.content .link-boxes .box li a{
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  opacity: 0.8;
  transition: all 0.4s ease
}
.content .link-boxes .box li a:hover{
  opacity: 1;
  text-decoration: underline;
}
.content .link-boxes .input-box{
  margin-right: 55px;
}
.link-boxes .input-box input{
  height: 40px;
  width: calc(100% + 55px);
  outline: none;
  border: 2px solid #AFAFB6;
  background: #14b3ab;
  border-radius: 4px;
  padding: 0 15px;
  font-size: 15px;
  color: #fff;
  margin-top: 5px;
}
.link-boxes .input-box input::placeholder{
  color: #AFAFB6;
  font-size: 16px;
}
.link-boxes .input-box input[type="button"]{
  background: #fff;
  color: #6150e2;
  border: none;
  font-size: 18px;
  font-weight: 500;
  margin: 4px 0;
  opacity: 0.8;
  cursor: pointer;
  transition: all 0.4s ease;
}
.input-box input[type="button"]:hover{
  opacity: 1;
}
footer .bottom-details{
  width: 100%;
  background: #0f918a;
}
footer .bottom-details .bottom_text{
  max-width: 1250px;
  margin: auto;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
}
.bottom-details .bottom_text span,
.bottom-details .bottom_text a{
  font-size: 14px;
  font-weight: 300;
  color: #fff;
  opacity: 0.8;
  text-decoration: none;
}
.bottom-details .bottom_text a:hover{
  opacity: 1;
  text-decoration: underline;
}
.bottom-details .bottom_text a{
  margin-right: 10px;
}


/* <!-- visimisi css --> */

body {
  margin:0;
  padding:0;
  text-decoration:none;
  scroll-behavior:smooth
 }
 
 .warna-dua {
  background-color:var(--warna-dua)
 }
 
 .warna-satu {
  background-color:var(--warna-tiga)
 }
 
 p {
  word-break:break-word;
  white-space:normal
 }
 .section-visi-misi {
  padding:50px 10px
 }
 .visimisi-box {
  border-radius:4px;
  text-align:center
 }
 .visimisi-box img {
  margin:auto
 }
 .visimisi {
  padding:50px 30px;
  border-radius:4px;
  color:#fff;
  text-align:center
 }
 .visimisi h2 {
  font-family:Montserrat;
  font-style:normal;
  font-weight:700;
  font-size:42px;
  line-height:25px;
  padding-bottom:20px
 }
 .visimisi h2.visi {
  padding-top:20px
 }
 .visimisi h2.misi {
  padding-top:50px
 }
 .visimisi p {
  font-family:Montserrat;
  font-style:normal;
  font-weight:400;
  font-size:14px;
  line-height:25px
 }
 
 /*   responsive visi misi   */
 
 @media screen and (min-width:768px) {
  .desktop-visimisi-img {
   display:none;
   overflow:hidden;
   height:0
  }
 }
 @media screen and (min-width:992px) {
  .section-visi-misi {
   padding:100px 30px 150px
  }
  .visimisi-box {
   border-radius:20px;
   width:100%
  }
  .visimisi:before {
   content:" ";
   width:186px;
   height:208px;
   border-radius:20px;
   background-color:#3cdcde;
   position:absolute;
   margin-top:-100px;
   margin-left:24.3%
  }
  .visimisi {
   width:50%;
   padding:100px 110px 60px;
   margin-left:50%;
   border-radius:10px 0 0 10px;
   border:0 solid #e5e5e5;
   text-align:left
  }
  .visimisi h2 {
   font-family:Montserrat;
   font-style:normal;
   font-weight:700;
   font-size:48px;
   line-height:56px;
   padding-bottom:15px
  }
  .visimisi h2.visi {
   padding-top:30px
  }
  .visimisi h2.misi {
   padding-top:35px
  }
  .visimisi p {
   font-family:Montserrat;
   font-style:normal;
   font-weight:400;
   font-size:20px;
   line-height:37px;
   letter-spacing:1px
  }
  .desktop-visimisi-img {
   position:absolute;
   margin-top:110px;
   margin-left:5%;
   width:476px;
   display:block;
   overflow:none;
   height:auto
  }
  .mobile-visimisi-img {
   display:none;
   overflow:hidden;
   height:0
  }
  .section-visi-misi .container {
   max-width:1320px
  }
  .section-visi-misi:before {
   content:" ";
   width:247px;
   height:201px;
   background-color:#3cdcde;
   position:absolute;
   margin-top:570px;
   margin-left:32.5%
  }
 
 }
     
 .section-imageslide {
     padding:60px 0 30px 
 }
 .box-imageslide {
     padding:0 20px
 }
 .box-imageslide h2 {
     width:150px;
     font-weight:700;
     font-size:24px;
     line-height:32px;
     color:#00a6b5;
     margin-bottom:30px;
 }
 .box-imageslide h2,
 .box-imageslide p {
     font-family:Montserrat;
     font-style:normal;
 }
 .box-imageslide p {
     font-weight:400;
     font-size:12px;
     line-height:24px;
     text-align:justify
 }
 .box-imageslide .arrow {
     margin-top:35px;
     float:right
 }
 .box-imageslide .arrow svg {
     margin-right:0;
     margin-left:20px
 }
 .section-imageslide .container.slider {
     margin:0;
     padding:0
 }
 .slides-imageslide {
     clear:both;
     display:flex;
     overflow-x:auto;
     -ms-scroll-snap-type:x mandatory;
     scroll-snap-type:x mandatory;
     scroll-behavior:smooth;
     -webkit-overflow-scrolling:touch
 }
 .slides-imageslide::-webkit-scrollbar {
     width:10px;
     height:10px
 }
 .slides-imageslide::-webkit-scrollbar-thumb {
     background:0 0;
     border-radius:10px
 }
 .slides-imageslide::-webkit-scrollbar-track {
     background:0 0
 }
 .slides-imageslide>.blank {
     width:0
 }
 .slides-imageslide>.blank,
 .slides-imageslide>.imageslide {
     margin-right:0;
     min-height:320px;
     scroll-snap-align:start;
     flex-shrink:0;
     transform-origin:center center;
     transition:transform .5s;
     position:relative;
     text-align:left
 }
 .slides-imageslide>.imageslide {
     width:auto;
     font-family:Montserrat
 }
 .slides-imageslide .imageslide img {
     width:auto;
     height:320px
 }
 
 /* responsive Tim Kami */
 
 @media screen and (min-width:992px) {
     .section-imageslide {
      padding:60px 0;
     }
     .box-imageslide .container {
      padding:15px
     }
     .box-imageslide {
      padding:0
     }
     .box-imageslide h2 {
      width:50%;
      font-style:normal;
      font-weight:700;
      font-size:48px;
      line-height:48px;
      display:flex;
      align-items:center;
      color:#00a6b5;
      float:none;
     }
     .box-imageslide p {
      font-size:24px;
      line-height:46px;
     }
     .box-imageslide .arrow {
      margin-top:15px;
      margin-bottom:45px;
      float:none
     }
     .box-imageslide .arrow svg {
      margin-right:20px;
      margin-left:0
     }
     .section-imageslide .container.slider {
      margin:auto;
      width:auto
     }
     .slides-imageslide>.blank {
      width:0;
      margin-right:0
     }
     .slides-imageslide>.imageslide {
      width:auto;
      min-height:453px
     }
     .slides-imageslide .imageslide img {
      width:auto;
      height:453px
     }
 }
    
 /* header */
.container-header {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.top-wrapper {
  padding: 180px 0 100px 0;
  background-image: url(https://prog-8.com/images/html/advanced/top_en.png);
  background-size: cover;
  color: white;
  text-align: center;
}

.top-wrapper h1 {
  opacity: 0.7;
  font-size: 45px;
  letter-spacing: 5px;
  margin-bottom: 10px;
}

.top-wrapper p {
  opacity: 0.7;
  margin-bottom: 3px;
}

.btn-wrapper {
  text-align: center;
  margin: 20px 0;
}

.btn-wrapper p {
  margin: 10px 0;
}

.signup {
  background-color: #239b76;
}

.facebook {
  background-color: #3b5998;
  margin-right: 10px;
}

.twitter {
  background-color: #55acee;
}

.btn {
  padding: 12px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
  text-align: center;
}

.btn:hover {
  opacity: 1;
}

.fa {
  margin-right: 5px;
}

header {
  height: 65px;
  width: 100%;
  background-color: rgba(34, 49, 52, 0.9);
  position :fixed;
  top: 0;
  z-index: 10;
}

.logo {
  width: 124px;
  margin-top: 20px;
}

.header-left {
  float: left;
  width: auto;
}

.header-right {
  float: right;
  margin-right: -25px;
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
  float: left;
  transition: all 0.5s;
}

.header-right a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.menu-icon{
  color: white;
  float: right;
  font-size: 25px;
  padding: 21px 0;
  display: none;
}

.lesson-wrapper {
  padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #f7f7f7;
  text-align: center;
}

.heading {
  padding-top: 80px;
  padding-bottom: 50px;
  color: #5f5d60;
}

.heading h2 {
  font-weight: normal;
}

.lesson {
  float: left;
  width: 25%;
}

.lesson-icon {
  position: relative;
}

.lesson-icon p {
  position: absolute;
  top: 44%;
  width: 100%;
  color: white;
}

.text-contents {
  width: 80%;
  display: inline-block;
  margin-top: 15px;
  font-size: 15px;
  color: #b3aeb5;
}

.heading h3 {
  font-weight: normal;
}

.message-wrapper {
  border-bottom: 1px solid #eee;
  padding-bottom: 80px;
  text-align: center;
}

.message {
  padding: 15px 40px;
  background-color: #5dca88;
  cursor: pointer;
  box-shadow: 0 7px #1a7940;
}

.message:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}

/*css by ag --- start*/

.batas{
  background-color: white;
  height: 50px;
}

.row-button{
  text-align: center;
}

.row-button input{
  margin-right: 40px;
  margin-bottom: 40px;
}


.row-structure img{
  display: block;
  width: 70%;
  margin: 20px auto;
  
}

.row-structure h2{
  font-family: "Montserrat";    
  font-size: 48px;
  width: 100%;
  margin-top: 40px;
  margin-bottom: 30px;
  color: #fff;
  text-align: center;
}

/*css by ag --- end*/
